/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.1
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/DiscordStyles/Slate/
 * @website https://discordstyles.github.io/slate-theme/
*/

/*        _____                    _____            _____                _____                    _____
         /\    \                  /\    \          /\    \              /\    \                  /\    \
        /::\    \                /::\____\        /::\    \            /::\    \                /::\    \
       /::::\    \              /:::/    /       /::::\    \           \:::\    \              /::::\    \
      /::::::\    \            /:::/    /       /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \          /:::/    /       /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \           \:::\    \        /:::/__\:::\    \
    \:::\   \:::\    \      /:::/    /       /::::\   \:::\    \          /::::\    \      /::::\   \:::\    \
  ___\:::\   \:::\    \    /:::/    /       /::::::\   \:::\    \        /::::::\    \    /::::::\   \:::\    \
 /\   \:::\   \:::\    \  /:::/    /       /:::/\:::\   \:::\    \      /:::/\:::\    \  /:::/\:::\   \:::\    \
/::\   \:::\   \:::\____\/:::/____/       /:::/  \:::\   \:::\____\    /:::/  \:::\____\/:::/__\:::\   \:::\____\
\:::\   \:::\   \::/    /\:::\    \       \::/    \:::\  /:::/    /   /:::/    \::/    /\:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/  \:::\    \       \/____/ \:::\/:::/    /   /:::/    / \/____/  \:::\   \:::\   \/____/
  \:::\   \:::\    \       \:::\    \               \::::::/    /   /:::/    /            \:::\   \:::\    \
   \:::\   \:::\____\       \:::\    \               \::::/    /   /:::/    /              \:::\   \:::\____\
    \:::\  /:::/    /        \:::\    \              /:::/    /    \::/    /                \:::\   \::/    /
     \:::\/:::/    /          \:::\    \            /:::/    /      \/____/                  \:::\   \/____/
      \::::::/    /            \:::\    \          /:::/    /                                 \:::\    \
       \::::/    /              \:::\____\        /:::/    /                                   \:::\____\
        \::/    /                \::/    /        \::/    /                                     \::/    /
         \/____/                  \/____/          \/____/                                       \/____/

====================================================================================
 Please view the full documentation at https://github.com/DiscordStyles/Slate/wiki
====================================================================================
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
@import url("https://discordstyles.github.io/Slate/dist/Slate.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

/*
====================================================================================
                                  Basic Variables
====================================================================================
*/

/*A full list of variables and their uses can be found in the documentation above.*/

:root {
  /*Primary Colors*/
  --accent: 3, 102, 214;
  --link-colour: 48, 144, 255;

  /*Server List*/
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/

* {
  font-family: 'Noto Sans JP', sans-serif;
}

/* Everforest palette */
html:root {
  --slate-palette: "Everforest";
  --toolbar-background-alt:#374247;
  --toolbar-background:#374247;
  --toolbar-background-hover:#525c62;
  --toolbar-background-active:#374247;
  --toolbar-search-background:#404c51;
  --toolbar-border:#374247;
  --toolbar-text-muted:#859289;
  --toolbar-text-normal:#d3c6aa;
  --accent:117, 137, 100;
}

html.theme-dark,
html.theme-dark body #app-mount .theme-light .root-1gCeng,
html.theme-dark body .force-theme.theme-light {
  --background-alt:var(--background-light);
  --background-light:#2f383e; /* 4a555b */
  --background-dark:#2f383e; /* 2f383e */
  --background:#374247;
  --base-border:#374247;
  --text-normal:#d3c6aa;
  --text-muted:#859289;
  --guilds-background:#525c62;
  --background-modifier-hover:#2f383e;
  --background-modifier-active:#525c62;
}